* {
  box-sizing: border-box;
}

:root {
  --body-bg-color: #1C2541;
  --main-bg-color: #AFC0D4;
  --section-bg-color: #D7E0EA;
  --card-bg-color: #BCCBDC;
  --light-icon: #222830;

  --font-color: black;
}

body {
  color: var(--font-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: var(--body-bg-color);

}

.transi-color {
  transition: background-color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.separator {
  border: none;
}

.link-unstyle {
  text-decoration: none;
  color: inherit;
}

.darkmode-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  right: 1.5rem;
  top: 1.3rem;
  width: 3rem;
  height: 3rem;
  color: #D7E0EA;
  background-color: var(--light-icon);
  cursor: pointer;
  border-radius: 50%;
  transition: color 0.5s ease-out;
}

.darkmode-icon:hover {
  color: #E0E000;
}

.centered-text {
  text-align: center;
}

main {
  background-color: var(--main-bg-color);
  margin: 0.5rem;
  min-height: calc(100vh - 2rem);
  border-radius: 10px;
}

.section {
  max-width: 80rem;
  margin: 0 0.5rem;
  padding: 1rem;
  padding-top: 0;
  background-color: var(--section-bg-color);
  border-radius: 2rem;
  transition: background-color 0.5s ease-out;
}

.bio-section figure {
  display: flex;
  align-items: center;
}

.bio-section figure img {
  width: 100%;
  border-radius:50%
}

.section-title {
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem;
  border-bottom: 1px solid var(--font-color);
}

.skills-container {
  display: flex;
  padding: 2rem 0;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.skill-box {
  max-width: 5rem;
  max-height: 5rem;
  background-color: white;
  display: inline-block;
  margin: 0.5rem;
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgb(150 150 150);
}

.languages-container {
  display: flex;
  flex-wrap: wrap;
}

.language {
  display: flex;
  width: 100%;
  margin: 1rem auto;
  min-height: 7rem;
  padding: 0.5rem;

  border-radius: 5px;
  background-color: var(--card-bg-color);

  /* background-color: greenyellow; */
  /* border: 1px solid red; */
}

.language-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 1rem;
}

.flag-container {
  display: flex;
  align-items: center;
}

.flag {
  width: 6rem;
  height: 4rem;
}

.contact-container {
  display: flex;
  justify-content: center;
  font-size: 4rem;
}

.card {
  border-radius: 5px;
  background-color: var(--card-bg-color);
  box-shadow: 0px 0px 10px rgb(150, 150, 150);
  margin-bottom: 1rem;
}

.description {
  padding: 0.5rem;
}

.description .title-decription, .title-languague {
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

.fab.fa-github, .fa-linkedin {
  margin: 0 0.5rem;
}

.fab.fa-github {
  color: var(--font-color);
}

.fa-linkedin {
  position: relative;
  color: #0e76a8
}

.fa-linkedin::before {
  position: relative;
  z-index: 2;
}

.fa-linkedin::after {
  content: "";
  position: absolute;
  left: 0.2rem;
  top: 0.4rem;
  width: 3.1rem;
  height: 3.1rem;
  z-index: 1;
  background: #D7E0EA;
}

.cv-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  font-size: 3.6rem;
}

.fa-file {
  position: relative;
}

.fa-file::after {
  content: "CV";
  position: absolute;
  font-size: 1rem;
  font-weight: 900;
  font-family: sans-serif;
  top: 1.5rem;
  left: 0.6rem;
}

/* Test Shine effect */
/* Credit: https://jsfiddle.net/AntonTrollback/nqQc7/ */
.character-card {
  position: relative;
  overflow: hidden;
}

.character-card::after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);
  pointer-events: none;
  
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right, 
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
}

.character-card:hover::after {
  opacity: 1;
  top: -45%;
  left: -30%;
  transition-property: left, top, opacity;
  transition-duration: 1s, 1s, 0.20s;
  transition-timing-function: ease;
}

/* Active state */

.character-card:active::after {
  opacity: 0;
}
/* FIN Test Shine effect */


@media(min-width:768px) {
  .bio-section {
    display: flex;
    flex-wrap: wrap;
  }

  .bio-section .section-title{
    width: 100%;
  }

  .bio-section figure {
    width: 40%;
  }

  .bio-section .content {
    font-size: 1.1rem;
    width: calc(60% - 4rem);
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
  }

  .projects-container {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: calc(50% - 2rem);
    margin: 1rem auto;
  }

  .section {
    margin: 1rem auto;
    max-width: 80rem;
  }

  .language {
    width: calc(50% - 2rem);
    margin: 1rem auto;
  }
}